ios/RNInjectableWebview.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/RNInjectableWebview.xcodeproj/project.xcworkspace/xcuserdata/seemann.xcuserdatad/UserInterfaceState.xcuserstate
RNInjectableWebview.xcodeproj/xcuserdata/seemann.xcuserdatad/xcschemes/RNInjectableWebview.xcscheme
RNInjectableWebview.xcodeproj/xcuserdata/seemann.xcuserdatad/xcschemes/xcschememanagement.plist
RNInjectableWebview.xcodeproj/project.xcworkspace/xcuserdata/seemann.xcuserdatad/UserInterfaceState.xcuserstate